* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2446;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #2f546d;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #3a7196;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2a405a;
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 1;
}

nav ul li:hover ul {
    display: flex;
}

nav ul li ul li a {
    padding: 10px 15px;
    white-space: nowrap;
}

section {
    padding: 20px;
    background-color: #f4f4f4;
    transition: opacity 0.5s ease;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
}

aside img {
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

input[type="text"],
input[type="submit"],
input[type="password"],
button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button,
input[type="submit"] {
    background-color: #053763;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0d5ca1;
}

#inicio {
    display: flex;
    flex: 3;
    flex-direction: column;
    text-align: center;
}

#inicio img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    section {
        opacity: 0.9;
    }
}

@media (max-width: 480px) {
    section {
        opacity: 0.8;
    }
}